{% extends "::base.html.twig" %}

{%block body %}

<h3>Mon Compte</h3>

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}
