{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}



{% block body %}



<h1 align="center">Charte IRC RezoSup <br>
	v1.2.6<br>
	<tt><a href="http://www.rezosup.org/">http://www.rezosup.org/</a></tt>
</h1>

<h1>Pr&#233;ambule</h1>

<blockquote>
	<p>Le but de cette charte est d'&#233;tablir des r&#232;gles pour le bon fonctionnement 
		du r&#233;seau IRC RezoSup.
	</p>
	<p> Afin de fournir un service gratuit, le regroupement RezoSup est enti&#232;rement 
		g&#233;r&#233; par des b&#233;n&#233;voles et utilise les ressources mises 
		gracieusement &#224; sa disposition par les institutions concern&#233;es. 
	</p>
	<p> Cette charte est s&#233;par&#233;e en deux parties :</p>
	<ul>
		<li>une <a href="#utilisateur">charte utilisateur</a> ;</li>
		<li>une <a href="#operateur">charte IRC Op&#233;rateur</a>.</li>
	</ul>
	<h4>Termes employ&#233;s et d&#233;finitions</h4>
	<ul>
		<li><i>IRC Op&#233;rateur, Op&#233;rateur, IRCop</i> : personne administrant un serveur 
			IRC au quotidien.
		</li>
		<li><i>K-line, autokill</i> : moyen de bannir un utilisateur du(des) serveur(s) et de 
			l'emp&#234;cher de s'y connecter.
		</li>
		<li><i>Logs</i> : Fichier-journal contenant des informations dat&eacute;es 
			(connexions aux serveurs, int&eacute;gralit&eacute; d'une conversation, ...).
		</li>
		<li><i>MOTD</i> : Message Of The Day, message affich&eacute; lors de la connexion d'un 
			utilisateur &agrave; un serveur IRC.
		</li>
		<li><i>Bot</i> : programme informatique automatis&eacute; connect&eacute; &agrave; 
			l'IRC.
		</li>
		<li><i>Link</i> : connexion entre deux serveurs.</li>
    	<li><i>Hub</i> : serveur faisant office de noeud de r&eacute;seau et auquel se 
      		connectent les autres serveurs.
		</li>
		<li><i>Leaf</i> : serveur reli&eacute; &agrave; un hub et auquel se connectent
			les utilisateurs.
		</li>
	</ul>
</blockquote>

<h1>Avertissement</h1>

<blockquote>

	<p>Toute personne utilisant RezoSup est responsable du contenu des donn&eacute;es 
 		qu'elle y fait circuler. Les administrateurs de RezoSup ne pourraient 
		en aucun cas &ecirc;tre tenus responsables de ce contenu.
	</p>
	<p>Toute action utilisant RezoSup doit &#234;tre conforme &agrave; la pr&eacute;sente charte
		ainsi qu'&agrave; la l&eacute;gislation en vigueur.
	</p>
	<p> En cas de fraude, les IRC Op&#233;rateurs pourront avertir le contrevenant, 
		puis, selon la gravit&#233; de l'acte ou en cas de r&#233;cidive(s), appliquer 
		un renvoi temporaire sur un canal (kick), une interdiction de connexion sur 
		un canal (ban), une d&#233;connexion temporaire sur un serveur (kill) ou une 
		interdiction de connexion sur l'ensemble des serveurs RezoSup (autokill). Les 
		autorit&#233;s comp&#233;tentes seront syst&#233;matiquement inform&#233;es. 
	</p>
	<p> Loi du 19 septembre 2000 (Article 323-1 du NCP) : Le fait d'acc&eacute;der 
		ou de se maintenir, frauduleusement, dans tout ou partie d'un syst&egrave;me 
		de traitement automatis&eacute; de donn&eacute;es est puni d'un an d'emprisonnement 
		et de 15000 euros d'amende.<br>
		Lorsqu'il en est r&eacute;sult&eacute; soit la suppression ou la modification 
		de donn&eacute;es contenues dans le syst&egrave;me, soit une alt&eacute;ration 
		du fonctionnement de ce syst&egrave;me, la peine est de deux ans d'emprisonnement 
		et de 30000 euros d'amende.
	</p>
</blockquote>

<h1><a name="utilisateur"></a>Charte utilisateur</h1>

<blockquote> 

	<h2>G&#233;n&#233;ralit&#233;s</h2>

	<blockquote> 
		<h4>Article 1 : Respect des chartes</h4>
		<p>Toute personne se connectant &#224; RezoSup s'engage &#224; respecter les 
			diff&#233;rentes chartes d'utilisation qui lui permettent d'utiliser les 
			ressources mises &#224; disposition par RezoSup, et en particulier la charte 
			d'utilisation Renater (disponible &#224; l'adresse 
			<tt><a href="http://www.renater.fr/Telechargement/charte_v12.pdf">http://www.renater.fr/Telechargement/charte_v12.pdf</a></tt>).
		</p>

		<h4>Article 2 : Connexion</h4>
		<p>Les IRC Op&eacute;rateurs se r&eacute;servent le droit d'interdire toute 
			connexion &agrave; l'ensemble du r&eacute;seau RezoSup.
		</p>

		<h4>Article 3 : Nombre de connexions simultan&#233;es</h4>
		<p>Sauf accord pr&#233;alable des IRC Op&#233;rateurs, il est interdit de 
			faire tourner plus de deux connexions par adresse IP. Toute tentative de 
			contournement de ces restrictions sera sanctionn&#233;e comme indiqu&#233; 
			dans l'avertissement.
		</p>
		
		
		
    <h4>Article 4 : Proxies</h4>
		<p>Toute machine se connectant &agrave; RezoSup est contr&ocirc;l&eacute;e 
			de mani&egrave;re &agrave; d&eacute;terminer la pr&eacute;sence ou non de 
			relais ouverts (proxies non s&eacute;curis&eacute;s). Ce contr&ocirc;le 
			permet d'assurer que la machine ne constitue pas une passerelle potentielle 
			pour des individus mal intentionn&eacute;s. La d&eacute;tection est 
			effectu&eacute;e par la machine <i>sarah.rezosup.net</i>.
		</p>

		<h4>Article 5 : MOTD</h4>
		
    <p>Toute personne se connectant sur un serveur de RezoSup doit prendre connaissance 
      du MOTD de ce serveur (commande &agrave; utiliser : <tt>/motd</tt>).</p>

		<h4>Article 6 : Canal d'aide</h4>
		<p>Le canal <tt>#help</tt> est ouvert &#224; tous les utilisateurs pour r&#233;pondre 
			aux questions relatives &#224; l'IRC. Les IRC Op&#233;rateurs pr&#233;sents 
			essaieront de r&#233;pondre aux utilisateurs, dans la mesure de leurs moyens.
		</p>
		
		<h4>Article 7 : Canaux "g&#233;n&#233;riques"</h4>
		<p>Plusieurs canaux sont mis &#224; la disposition des utilisateurs afin de 
			susciter des liens d'amiti&#233;. RezoSup se r&#233;serve le choix et la 
			gestion de ces canaux.
		</p>

	</blockquote>

	<h2>Principes d'utilisation</h2>
	
	<blockquote> 
		
		<h4>Article 8 : Usage des Services</h4>
		<p>Les Services <i>ChanServ</i>, <i>NickServ</i>, <i>BotServ</i> et <i>MemoServ</i> 
			sont mis &#224; la disposition des utilisateurs afin de leur apporter un 
			confort d'utilisation. Toute tentative de d&#233;tournement des Services 
			&#224; des fins pour lesquelles ils n'ont pas &#233;t&#233; pr&#233;vus 
			sera punie comme indiqu&#233; dans l'avertissement.
		</p>

		<h4>Article 9 : Usage des bots</h4>
		<p>Les bots sont tol&#233;r&#233;s &#224; condition de ne pas nuire aux serveurs 
			ou aux utilisateurs. Tout abus sera puni comme indiqu&#233; dans l'avertissement.
		</p>

		<h4>Article 10 : Conflits entre utilisateurs</h4>
		<p>D'une mani&#232;re g&#233;n&#233;rale, les IRC Op&#233;rateurs sont responsables 
			du bon fonctionnement du r&#233;seau IRC, mais en aucun cas des diff&#233;rents 
			canaux (&#224; l'exception de <tt>#opers</tt>, <tt>#help</tt> et des canaux
			g&eacute;n&eacute;riques), ni des conflits entre utilisateurs. Les utilisateurs
			sont soumis &#224; l'impartialit&#233; des Services <i>ChanServ</i> et <i>NickServ</i>.
		</p>

		<h4>Article 11 : Messages en masse et publicité</h4>
		<p>L'envoi en masse de messages, ainsi que la publicit&#233; non sollicit&#233;e (spam), 
			sont interdits. Tout contrevenant sera puni comme indiqu&#233; dans l'avertissement.
		</p>
				
		<h4>Article 12 : Commerce</h4>
		<p>Toute activit&#233; commerciale est strictement interdite sur RezoSup. 
			Tout contrevenant sera puni comme indiqu&#233; dans l'avertissement.
		</p>
		
		<h4>Article 13 : Religion et politique</h4>
		<p>Tout pros&#233;lytisme religieux ou politique est strictement interdit 
			sur RezoSup. Tout contrevenant sera puni comme indiqu&#233; dans l'avertissement.
		</p>

	</blockquote>

	<h2>Actes malveillants</h2>
	
	<blockquote>
		<h4>Article 14 : Usurpation d'identit&#233;</h4>
		<p>Toute personne tentant d'usurper l'identit&#233; d'un autre utilisateur 
			fr&#233;quentant le r&#233;seau sera punie comme indiqu&#233; dans l'avertissement.
		</p>

		<h4>Article 15 : Harc&#232;lement</h4>	
	    <p>Il est interdit de harceler les utilisateurs par des messages r&eacute;p&eacute;t&eacute;s. 
	      En cas de nuisances prolong&#233;es, les op&#233;rateurs pourront d&#233;cider 
	      (&#233;ventuellement au vu de logs) de prendre des mesures contre les fauteurs 
	      de troubles, comme indiqu&#233; dans l'avertissement.
		 </p>

	    <h4>Article 16 : Inondation de messages (flood)</h4>
	    <p>L'envoi excessif de messages r&eacute;p&eacute;t&eacute;s &agrave; destination d'un 
	      serveur ou d'un utilisateur est interdit. L'acte est puni comme indiqu&#233; 
	      dans l'avertissement.
		 </p>

		<h4>Article 17 : D&#233;ni de service (DoS)</h4>
		<p>Il est interdit de chercher &#224; exploiter les faiblesses et les bogues 
			des clients et serveurs IRC, ou d'entreprendre toute action pour laquelle 
			ils n'ont pas &#233;t&#233; pr&#233;vus. Les attaques de type d&#233;ni 
			de service sont rigoureusement interdites, les coupables seront imm&#233;diatement 
			interdits de connexion sur le serveur (K-line), et leur fournisseur d'acc&#232;s 
			sera averti.
		</p>
	
	</blockquote>

</blockquote>

<h1><a name="operateur"></a>Charte IRC Op&#233;rateur</h1>

<blockquote>

	<h2>G&#233;n&#233;ralit&#233;s</h2>

	<blockquote> 

		<h4>Article 1 : Connexion &#224; RezoSup</h4>
		<p>Ne peuvent &#234;tre connect&#233;s &#224; RezoSup que des serveurs IRC 
			d'esprit acad&#233;mique (&#233;cole ou universit&#233;).
		</p>
		<p> Les responsables des Services Informatiques de l'&#233;cole ou de l'universit&#233; 
			doivent avoir donn&#233; leur accord &#224; l'existence de tels serveurs. 
			Cet accord est formalis&#233; par la signature de la pr&#233;sente charte 
			et du formulaire de connexion rempli (disponible sur le site de RezoSup :
			<tt><a href="http://www.rezosup.org/">http://www.rezosup.org/</a></tt>). Cet accord 
			doit &#234;tre reconduit au 1<SUP>er</SUP>octobre pour une dur&#233;e d'un 
			an.
		</p>
		<p>La connexion de ces serveurs doit &#234;tre stable et permanente.</p>

		<h4>Article 2 : Modification de la charte</h4>
		<p>Les modifications &eacute;ventuelles de la pr&eacute;sente charte sont 
			vot&eacute;es par l'assembl&eacute;e consultative (c.f. article 9) &agrave; 
			majorit&eacute; des 4/5 des votants, puis sont soumises &agrave; l'assembl&eacute;e 
			ex&eacute;cutive.
		</p>
		<p>Il peut &#234;tre envisag&#233; des modifications mineures si la pr&#233;sente 
			charte entre en conflit avec la charte d'utilisation des &#233;quipements 
			informatiques de l'&#233;cole ou de l'universit&#233; d&#233;sirant se connecter 
			&#224; RezoSup.
		</p>

		<h4>Article 3 : Responsabilit&#233; sur le serveur IRC</h4>
		<p>La responsabilit&#233; d'un serveur IRC raccord&#233; &#224; RezoSup rel&#232;ve 
			enti&#232;rement et en permanence des Op&#233;rateurs du serveur. Ceux-ci 
			s'engagent &#224; faire respecter la charte, &#224; notifier toute modification 
			introduite au niveau de leur serveur pouvant affecter l'ensemble du r&#233;seau 
			RezoSup et doivent disposer de toutes les autorisations n&#233;cessaires 
			pour mettre en oeuvre leur serveur.
		</p>
		<p> En cas d'absence, les Op&#233;rateurs d'autres serveurs peuvent prendre 
			des mesures si le besoin s'en fait sentir.
		</p>

		<h4>Article 4 : Liste de diffusion</h4>
		<p>Il existe une liste de diffusion RezoSup
			(<tt><a href="mailto:rezosup@rezosup.net">rezosup@rezosup.net</A></tt>) &#224;
			laquelle l'adh&#233;sion de tous les Op&#233;rateurs est obligatoire.
		</p>
		<p> Une personne souhaitant participer au d&#233;veloppement de RezoSup peut 
			&#234;tre inscrite &#224; la liste de diffusion apr&#232;s approbation &#224; 
			l'unanimit&#233; de l'assembl&#233;e ex&#233;cutive (c.f. articles 9 et 
			10).
		</p>
		
	</blockquote>

	<h2>Ligne de conduite</h2>

	<blockquote> 
		
		<h4>Article 5 : Cordialit&#233;</h4>
		<p>Les discussions entre Op&#233;rateurs se doivent d'&#234;tre cordiales.</p>
		
		<h4>Article 6 : Pr&#233;sence</h4>
		<p>Les IRC Op&#233;rateurs ont pour obligation d'&#234;tre pr&#233;sents sur 
			le canal <tt>#opers</tt> et sur le canal <tt>#help</tt>.
		</p>
		<p> Le canal <tt>#opers</tt> sert, entre autres, &#224; d&#233;battre quotidiennement 
			d'&#233;ventuels probl&#232;mes ou de dispositions &#224; prendre. Il est 
			en mode Op&#233;rateurs seulement (+O) et r&#233;serv&#233; aux Op&#233;rateurs, 
			m&#234;me s'il est possible d'y inviter certains utilisateurs pour une dur&#233;e 
			d&#233;termin&#233;e.
		</p>
		<p>Le canal <tt>#help</tt> est ouvert &#224; tous, et a pour but d'apporter 
			l'aide n&#233;cessaire aux utilisateurs en difficult&#233;.
		</p>
		
		<h4>Article 7 : Le K-line</h4>
		<p>Le K-line est un droit accord&#233; &#224; tous les Op&#233;rateurs sur 
			leur serveur respectif et il est laiss&#233; &#224; leur discr&#233;tion. 
		</p>
		<p>La d&#233;cision d'un K-line global (akill) sur tous les serveurs de RezoSup 
			est un droit accord&eacute; aux Op&eacute;rateurs de Services. En cas de 
			d&eacute;saccord entre les Op&eacute;rateurs au sujet de cet akill, l'assembl&eacute;e 
			consultative d&eacute;cide (&agrave; la majorit&eacute; simple de ses membres) de 
			le laisser en place ou de le supprimer.
		</p>

		<h4>Article 8 : Intervention des Op&#233;rateurs</h4>
		<p>Les Op&#233;rateurs sont fortement incit&#233;s &#224; ne pas s'impliquer 
			dans des sujets qui ne concernent pas la gestion du serveur. Leur statut 
			ne leur donne aucun droit d'intervenir, notamment suite &#224; des sollicitations 
			d'amis ou autres.
		</p>
		<p> Tout abus constat&#233; donnera lieu &#224; une r&#233;vision de leur 
			statut.
		</p>

	</blockquote>

	<h2>Organisation</h2>

	<blockquote> 

		<h4>Article 9 : Assembl&#233;es</h4>
		<p>Deux assembl&#233;es sont pr&#233;vues ; une assembl&#233;e dite "consultative", 
			et une assembl&#233;e dite "ex&#233;cutive" :
		</p>
		<ul>
			<li>L'<i>assembl&#233;e consultative</i> est compos&#233;e des membres fondateurs 
				de RezoSup. Son &#233;largissement, dont les modalit&#233;s sont laiss&#233;es
				&#224; sa discr&#233;tion, est souhait&#233; et pr&#233;vu.
				Elle se r&#233;unit pour les d&#233;cisions concernant les
				fondements de RezoSup :
			<ul>
				<li>Elle peut prendre, &agrave; l'unanimit&eacute; de ses membres, des 
					d&eacute;cisions qu'elle estime &ecirc;tre dans l'int&eacute;r&ecirc;t 
					de RezoSup, et qui pr&eacute;valent sur toute autre disposition,
				</li>
				<li>Elle peut imposer son veto sur des d&#233;cisions qui seraient contraires 
					&#224; l'esprit original de RezoSup,
				</li>
				<li>Elle g&#232;re les Services et nomme les Administrateurs de Services.</li>
			</ul>
			</li>
			<br>
			<li>L'<i>assembl&#233;e ex&#233;cutive</i> est form&#233;e 
				des repr&eacute;sentants des &#233;coles ou universit&#233;s poss&#233;dant 
				un serveur reli&#233; &agrave; RezoSup et ayant pass&eacute; la phase 3 
				(c.f. article 17). Elle se r&#233;unit pour les d&#233;cisions courantes
				relatives au d&eacute;veloppement de RezoSup :
			<ul>
				<li>Accueil d'une nouvelle &#233;cole et d'un serveur IRC pendant une 
					session d'acceptation,
				</li>
				<li>Gestion courante,</li>
				<li>Renvoi d'un Op&eacute;rateur malveillant, etc...</li>
			</ul>
			</li>
		</ul>
		
    	<p>Les d&#233;cisions de l'assembl&eacute;e ex&eacute;cutive sont prises 
		      &#224; la majorit&#233; absolue, les votes se d&#233;roulant comme 
		      d&#233;crit &#224; l'article 10.
		</p>
		<p> Chaque &#233;cole ou universit&#233; dispose d'au moins 2 IRC Op&eacute;rateurs 
			(dont l'administrateur du serveur), et d'au plus 4 IRC Op&eacute;rateurs 
			auxquels peut s'ajouter 1 IRC Op&eacute;rateur pour 100 utilisateurs sur 
			le serveur.
		</p>
		<p> L'administrateur de chaque &#233;cole ou universit&#233; est propos&#233; 
			par l'&#233;cole rejoigant le r&eacute;seau lors de la session d'acceptation
			et accept&#233; &#224; la majorit&#233; qualifi&#233;e (2/3) par les membres
			de l'assembl&#233;e ex&#233;cutive pr&#233;sents lors de la session.
		</p>

		<h4>Article 10 : Le vote</h4>
		<p>Un vote est toujours propos&eacute; par un membre de l'assembl&eacute;e 
			consultative, et &eacute;ventuellement &agrave; la sollicitation d'un membre 
			de l'assembl&eacute;e ex&eacute;cutive.
		</p>
		<p>Un vote se fait via la liste de diffusion et est ouvert pour une dur&eacute;e 
			de 3 jours.
		</p>
		<p>Le droit de vote est donn&#233; lors de la 3&egrave;me phase de la connexion 
			comme indiqu&#233; dans l'article 17. Il est accord&#233; une voix et une 
			seule par serveur leaf de RezoSup.
		</p>
		<p>Chaque voix doit &#234;tre communiqu&#233;e par l'administrateur du serveur, 
			ou en cas de vacance, par un Op&#233;rateur d&#233;sign&#233;.
		</p>
		<p>S'il est constat&#233; l'abstention des Op&#233;rateurs d'un serveur pendant 
			3 votes cons&#233;cutifs sans justification valable, le statut de ce serveur 
			sera discut&#233;.
		</p>

		<h4>Article 11 : Op&#233;rateurs d'honneur</h4>
		<p>Si une personne impliqu&#233;e dans la gestion de RezoSup, en quittant 
			l'&#233;cole ou l'universit&#233; o&#249; elle se trouve, exprime le souhait 
			de continuer &#224; apporter sa contribution, l'assembl&#233;e consultative 
			vote &#224; l'unanimit&#233; pour l'acc&#232;s de cette personne au statut 
			d'Op&#233;rateur d'honneur de RezoSup.
		</p>
		<p>Ce statut conf&#232;re la possibilit&#233; d'&#234;tre Op&#233;rateur 
			de n'importe quel hub ou leaf de RezoSup, sous r&#233;serve d'acceptation 
			de l'administrateur du hub ou leaf correspondant.
		</p>
		<p>Tous les ans, au cours du mois d'octobre, l'assembl&#233;e consultative 
			doit se r&#233;unir afin de valider &#224; l'unanimit&#233; le statut de 
			chaque Op&#233;rateur d'honneur existant.
		</p>
		
	</blockquote>
	
	<h2>Serveur et Services</h2>

	<blockquote> 

		<h4>Article 12 : Serveur IRC</h4>
		<p>Le serveur IRC doit &#234;tre, pour tous, solid-ircd-3.4.8 ou sup&#233;rieur. 
			Sa version sera rediscut&#233;e r&#233;guli&#232;rement pour d'&#233;ventuelles 
			mises &#224; jour.
		</p>
		<p>Le <i>MOTD</i> du serveur IRC comprend deux parties :</p>
		<ol>
			<li>une partie fixe impos&#233;e par RezoSup :
			<ul>
				<li>mention de l'appartenance &#224; RezoSup ;</li>
          		<li>liste des &eacute;coles et universit&eacute;s reli&eacute;es &#224; 
					RezoSup ;
				</li>
				<li>liste des serveurs publics de RezoSup ;</li>
				<li>mention de la charte RezoSup ;</li>
				<li>liste des sites Web officiels concernant RezoSup ;</li>
				<li>liste des IRC Op&#233;rateurs du serveur ;</li>
				<li>liste des canaux officiels de RezoSup ;</li>
				<li>mention du charset pr&#233;conis&#233; ;</li>
			</ul>
			</li>
			<br>
			<li>une partie libre propre au serveur.</li>
		</ol>

		<h4>Article 13 : Services r&#233;serv&#233;s aux Op&#233;rateurs</h4>
		<p>Les seuls Services Op&#233;rateurs autoris&#233;s sont <i>OperServ</i> 
			et <i>CloneServ</i>. Seuls les Op&#233;rateurs globaux en ont le contr&#244;le. 
			Ces services incluent les possibilit&#233;s de changer les modes de tout 
			canal, d'interdire l'acc&#232;s d'un canal &#224; n'importe quel utilisateur, 
			de contr&#244;ler le nombre de clones, et d'interdire toute connexion sur 
			le r&#233;seau. Il ne doit &#234;tre fait usage de ces services que dans 
			un but de maintenance et dans le respect de l'article 8.
		</p>

		<h4>Article 14 : Services accessibles &#224; tous les clients</h4>
		<p>Les seuls Services clients autoris&#233;s sont <i>ChanServ</i>, <i>NickServ</i>, 
			<i>MemoServ</i> et <i>BotServ</i>. Des Services additionnels peuvent 
			n&eacute;anmoins &ecirc;tre mis en place, apr&egrave;s approbation
			de l'assembl&eacute;e consultative.
		</p>
	
	</blockquote>

	<h2>Connexions</h2>

	<blockquote> 

		<h4>Article 15 : Connexion des leafs</h4>
		<p>Un seul serveur IRC leaf par &#233;cole ou universit&#233; peut &#234;tre 
			connect&#233;.
		</p>
		<p>Il est souhaitable que le serveur IRC soit un serveur d&#233;di&#233; 
			(discut&#233; au cas par cas).
		</p>
		<p>Il doit, pour des raisons de s&#233;curit&#233;, &#234;tre filtr&#233; 
			en ICMP (de quelque mani&#232;re que ce soit) et respecter le param&#233;trage 
			d&#233;fini par RezoSup.
		</p>
		<p>Le syst&#232;me d'exploitation sous lequel est g&#233;r&#233; le serveur 
			IRC, doit &#234;tre de type Unix. L'administrateur veillera &#224; fournir 
			le d&#233;tail des mesures qu'il a prises pour assurer l'int&#233;grit&#233; 
			de la s&#233;curit&#233; du serveur lui appartenant mais aussi des serveurs 
			de RezoSup en g&#233;n&#233;ral.
		</p>

		<h4>Article 16 : Connexion des hubs</h4>
		<p>Si une &#233;cole ou une universit&#233; est d&#233;sign&#233;e comme hub 
			de RezoSup, un second serveur IRC pour cette &#233;cole ou universit&#233; 
			peut &#234;tre connect&#233;. Ce second serveur doit respecter les m&#234;mes 
			conditions techniques que celles cit&#233;es dans l'article 15.
		</p>

		<h4>Article 17 : Phases d'une connexion</h4>
		<p>Une connexion, si les conditions des articles 12 &#224; 16 sont respect&#233;es, 
			se fait en 3 phases :
		</p>
		<ul>
			<li><u>1&egrave;re phase :</u>discussion d'une 
				dur&#233;e minimale de 1 mois, comprenant un test technique et la signature 
				de la pr&#233;sente charte. Vote &#224; majorit&#233; des 2/3 des votants 
				pour le passage en 2&egrave;me phase.
			</li>
			<br>
			<br>
			<li><u>2&egrave;me phase :</u>test de la connexion 
				pour une dur&#233;e minimale de 3 mois. A l'issue de cette p&eacute;riode, 
				le serveur doit alors comporter un minimum de 10 clients connect&eacute;s 
				en permanence. Vote &#224; majorit&#233; des 4/5 des votants pour le passage 
				en 3&egrave;me phase si la condition pr&eacute;c&eacute;dente est respect&eacute;e.
			</li>
			<br>
			<br>
			<li><u>3&egrave;me phase :</u> connexion d&#233;finitive. 
				Le droit de vote est donn&#233; au nouveau serveur IRC connect&#233;. 
				Ce nouveau serveur fait alors partie de l'assembl&#233;e ex&#233;cutive 
				(c.f. article 9). Tout Op&#233;rateur de ce serveur est obligatoirement 
				inscrit &#224; la liste de diffusion de RezoSup.
			</li>
		</ul>

		<h4>Article 18 : D&#233;connexion d'un serveur</h4>
		<p>La d&#233;connexion d'un serveur, si elle n'est pas souhait&#233;e par 
			le parti concern&#233;, est vot&eacute;e &agrave; la majorit&eacute; des 
			2/3 des votants par l'assembl&eacute;e ex&eacute;cutive (le parti concern&eacute; 
			conserve son droit de vote).
		</p>
		<p> En cas de d&eacute;connexion, ce serveur IRC perd son droit de vote sur 
			RezoSup, et ses Op&#233;rateurs sont supprim&#233;s de la liste de diffusion 
			de RezoSup.
		</p>

	</blockquote>

</blockquote>
{% endblock %}
