{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}



{% block body %}

<h3>Bienvenue sur le site web des opérateurs IRC du réseau RezoSup</h3><br/>
<p>RezoSup est le diminutif de Réseau de serveurs IRC d'établissements de l'enseignement supérieur. Il a été conçu et est géré
par des étudiants bénévoles pour promouvoir la communication grâce à IRC.</p>
<p>Sur ce site, vous pouvez consulter la liste des opérateurs IRC par serveur dans la rubrique <a href=trombi.php><b>IRC operators</b></a> et la liste des <a href=liste.php><b>serveurs</b></a> du regroupement.</p>
<p>Vous pouvez également voir plusieures statistiques des canaux de RezoSup dans la rubrique <a href=stats.php><b>Statistiques</b></a>.</p>
<p>Enfin, vous pouvez découvrir en exclusivité un tout nouveau et tout beau client irc : <A href="http://kini.rezosup.net"><b>KINI</b></A>.</p>
<p>N'hésitez pas à faire un tour sur le site officiel de <a href="http://www.rezosup.org"><b>Rezosup</b></a> pour plus d'informations sur le regroupement en lui-même.</p>
{% endblock %}
