{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}



{% block body %}

<h2>Carte des serveurs en ligne : </h2>
<br/>
<img src="{{asset('img/rz.png')}}"></img>



{% endblock %}
