{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}



{% block body %}

<form action="{{ path('news_post_process') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input class="" type="submit" />
</form>

{% endblock %}
