{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}



{% block body %}

<h2>Liste des serveurs</h2>

<table cellpadding=5 cellspacing=4 align="center">

<tr bgcolor=#E5E5E5>
  <td><b>Ecole Nationale Supérieure des Télécom de Paris</b></td>
  <td>irc.enst.rezosup.org</td>
  <td>ENST (Rezel)</td>
  <td>Public</td>
  <td><a href="mailto:xor@rezosup.net">Xor</a>.</td>
</tr>
<tr bgcolor=#F0F0F0>
  <td><b>Télécom Bretagne</b></td>
  <td>irc.telecom-bretagne.rezosup.org</td>
  <td>Telecom Bretagne (ResEl)</td>
  <td>Public</td>
  <td><a href="mailto:ecaille@resel.fr">Twister</a>.</td>
</tr>
<tr bgcolor=#E5E5E5>
  <td><b>Université Paris Sud</b></td>
  <td>irc.u-psud.rezosup.org</td>
  <td>Université Paris Sud (Université Paris Sud)</td>
  <td>Public</td>
  <td><a href="mailto:Nico@rezosup.net">Nico</a>, <a href="mailto:kindman@rezosup.net">KindMan</a>.</td>
</tr>
<tr bgcolor=#F0F0F0>
  <td><b>Ecole Polytechnique</b></td>
  <td>irc.polytechnique.rezosup.org</td>
  <td>Serveur IRC de l'X</td>
  <td>Privé</td>
  <td><a href="mailto:nc@rezosup.net">nc</a>.</td>
</tr>
<tr bgcolor=#E5E5E5>
  <td><b>Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications</b></td>
  <td>irc.inp-net.rezosup.org</td>
  <td>Serveur IRC de l'N7</td>
  <td>Public</td>
  <td><a href="mailto:pixy@rezosup.net">pixy</a>.</td>
</tr>
<tr bgcolor=#F0F0F0>
  <td><b>Supélec - Campus GIF</b></td>
  <td>irc.supelec.rezosup.org</td>
  <td>Serveur IRC de Supélec Rézo</td>
  <td>Public</td>
  <td><a href="mailto:alef_burzmali@rezosup.net">Alef_Burzmali</a>.</td>
</tr>
<tr bgcolor=#E5E5E5>
  <td><b>Ecole Pour l'Informatique et les Techniques avancées /
Ecole Pour l'Informatique et les nouvelles TECHnologies</b></td>
  <td>irc.epita.rezosup.org</td>
  <td>Serveur IRC de l'Epita/Epitech</td>
  <td>Public</td>
  <td><a href="mailto:shine@rezosup.net">shine</a>.</td>
</tr>
</table>

<br/>
<h2>Hall of fame</h2>

<b>Sont toujours actifs sur RezoSup :</b>
<ul>
  <li><a href="mailto:cerces@rezosup.net">cerces</a>, ancien oper de irc.telecom-bretagne.rezosup.org (Télécom Bretagne)</li>
  <li><a href="mailto:dobermann@rezosup.net">Dobermann</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:falco@rezosup.net">falco</a>, ancien oper de irc.polytechnique.rezosup.org (Ecole Polytechnique)</li>
  <li><a href="mailto:florian@minet.net">florian</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:likan@rezosup.net">Likan</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:scelmorp@rezosup.net">ScELMorp</a>, ancien oper de irc.supelec.rezosup.org (Supélec - Campus GIF)</li>
  <li><a href="mailto:sk@rezosup.net">SK</a>, ancien oper de irc.supelec.rezosup.org (Supélec - Campus GIF)</li>
  <li><a href="mailto:tripa@rezosup.net">tripa</a>, ancien oper de irc.supelec.rezosup.org (Supélec - Campus GIF)</li>
</ul>

<b>Lliste des anciens opers :</b>
<ul>
  <li><a href="mailto:alpha@rezosup.net">alpha</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:anaxagore@rezosup.net">anaxagore</a>, ancien oper de irc.polytechnique.rezosup.org (Ecole Polytechnique)</li>
  <li><a href="mailto:anis@rezosup.net">anis</a>, ancien oper de irc.u-psud.rezosup.org (Université Paris Sud)</li>
  <li><a href="mailto:armitage@rezosup.net">Armitage</a>, ancien oper de irc.supelec.rezosup.org (Supélec - Campus GIF)</li>
  <li><a href="mailto:badi@rezosup.net">Badi</a>, ancien oper de irc.emn.rezosup.org (Ecole des Mines de Nantes)</li>
  <li><a href="mailto:ben@rezosup.net">Ben</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:bennyben@rezosup.net">bennyben</a>, ancien oper de irc.u-psud.rezosup.org (Université Paris Sud)</li>
  <li><a href="mailto:bishi@rezosup.net">Bishi</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:borain@rezosup.net">borain</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:cif@rezosup.net">Cif</a>, ancien oper de irc.ec-paris.rezosup.org (Ecole Centrale Paris)</li>
  <li><a href="mailto:cro@rezosup.net">Cro</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:ctiger@rezosup.net">cTiger</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:dge13boo@rezosup.net">Dge</a>, ancien oper de irc.polytechnique.rezosup.org (Ecole Polytechnique)</li>
  <li><a href="mailto:dryorgos@rezosup.net">DrYorgos</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:exzo@RezoSup.net">exzo</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:f@rezosup.net">F</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:fl4sh@rezosup.net">Fl4sh</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:flash@rezosup.net">Flash</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:gargamel@rezosup.net">Gargamel</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:honki@rezosup.net">honki</a>, ancien oper de irc.ec-paris.rezosup.org (Ecole Centrale Paris)</li>
  <li><a href="mailto:hotplug@rezosup.net">hotplug</a>, ancien oper de irc.epita.rezosup.org (Ecole Pour l'Informatique et les Techniques avancées /
Ecole Pour l'Informatique et les nouvelles TECHnologies)</li>
  <li><a href="mailto:inz@rezosup.net">inz</a>, ancien oper de irc.telecom-bretagne.rezosup.org (Télécom Bretagne)</li>
  <li><a href="mailto:keybee@rezosup.net">keybee</a>, ancien oper de irc.epita.rezosup.org (Ecole Pour l'Informatique et les Techniques avancées /
Ecole Pour l'Informatique et les nouvelles TECHnologies)</li>
  <li><a href="mailto:kiki@rezosup.net">kiki</a>, ancien oper de irc.u-psud.rezosup.org (Université Paris Sud)</li>
  <li><a href="mailto:krp@rezosup.net">Krp</a>, ancien oper de irc.epita.rezosup.org (Ecole Pour l'Informatique et les Techniques avancées /
Ecole Pour l'Informatique et les nouvelles TECHnologies)</li>
  <li><a href="mailto:lionel@rezosup.net">lionel</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:madflo@rezosup.net">madflo</a>, ancien oper de irc.epita.rezosup.org (Ecole Pour l'Informatique et les Techniques avancées /
Ecole Pour l'Informatique et les nouvelles TECHnologies)</li>
  <li><a href="mailto:mimiflex@rezosup.net">MimiFlex</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:mithrandir@rezosup.net">mithrandir</a>, ancien oper de irc.polytechnique.rezosup.org (Ecole Polytechnique)</li>
  <li><a href="mailto:mpnico@rezosup.net">MpNico</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:neoXanderLyfe@rezosup.net">neoXanderLyfe</a>, ancien oper de irc.telecom-bretagne.rezosup.org (Télécom Bretagne)</li>
  <li><a href="mailto:nocnod@rezosup.net">noc</a>, ancien oper de irc.telecom-bretagne.rezosup.org (Télécom Bretagne)</li>
  <li><a href="mailto:noon@rezosup.net">noon</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:norgz@rezosup.net">Norgz</a>, ancien oper de irc.telecom-bretagne.rezosup.org (Télécom Bretagne)</li>
  <li><a href="mailto:nut51@rezosup.net">Nut51</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:nyko@rezosup.net">nyko</a>, ancien oper de irc.int.rezosup.org (Institut National des Telecom)</li>
  <li><a href="mailto:pierref@rezosup.net">PierreF</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:pilki@rezosup.net">pilki</a>, ancien oper de irc.polytechnique.rezosup.org (Ecole Polytechnique)</li>
  <li><a href="mailto:sai@rezosup.net">Sai</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:stex@rezosup.net">StEx</a>, ancien oper de irc.emn.rezosup.org (Ecole des Mines de Nantes)</li>
  <li><a href="mailto:thadur@rezosup.net">Thadur</a>, ancien oper de irc.supelec.rezosup.org (Supélec - Campus GIF)</li>
  <li><a href="mailto:librarian@rezosup.net">The_Librarian</a>, ancien oper de irc.enst.rezosup.org (Ecole Nationale Supérieure des Télécom de Paris)</li>
  <li><a href="mailto:trou@rezosup.net">Trou</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
  <li><a href="mailto:vinz2@rezosup.net">vinZ2</a>, ancien oper de irc.polytechnique.rezosup.org (Ecole Polytechnique)</li>
  <li><a href="mailto:wind@rezosup.net">wind</a>, ancien oper de irc.emn.rezosup.org (Ecole des Mines de Nantes)</li>
  <li><a href="mailto:yeti@rezosup.net">Yeti</a>, ancien oper de irc.supelec.rezosup.org (Supélec - Campus GIF)</li>
  <li><a href="mailto:yoann@rezosup.net">yoann</a>, ancien oper de irc.ec-paris.rezosup.org (Ecole Centrale Paris)</li>
  <li><a href="mailto:zebuline@rezosup.net">Zebuline</a>, ancien oper de irc.inp-net.rezosup.org (Ecole Nationale Supérieure d'Electrotechnique, d'Electronique, d'Informatique, d'Hydraulique et des Télécommunications)</li>
</ul></ul>

{% endblock %}
