{% extends '::baseAdmin.html.twig' %}

{% block title %}{{parent()}} - Administration{% endblock %}



{% block body %}

<h3>Bienvenue sur la partie administration du site des opérateurs de RézoSup</h3>

{% endblock %}
