{% extends '::base.html.twig' %}

{% block title %}{{parent()}} - Inscription{% endblock %}

{% block body %}

<h3>Inscription</h3>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        
        {% endfor %}

        <div class="bs-docs-register">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}




